html {
    background-color: #210F37;
    color: #b4d3f3;
    margin: 0px;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 40px 40px;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    z-index: 2;
}

body{
    height: 100%;
    margin: 0;
    font-family: "Open Sans";
    font-size: 16px;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 70px;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color: rgb(0, 0, 0, 0);
    z-index: 1;
}

.nav-bar b{
    padding: 30px;
    font-size: 16px;
}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
}

@keyframes transparentSlideLeft {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

.introduction-words b{
    animation-name: transparentSlideLeft;
    animation-duration: 0.6s;
    animation-timing-function: ease-out ;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes transparentSlideDown {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}

.introduction-words{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.speech-1{
    animation-name: transparentSlideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out ;
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

.speech-2{
    animation-name: transparentSlideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out ;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.25s;
}
.speech-3{
    animation-name: transparentSlideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out ;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: .5s;
}

.speech-4{
    animation-name: transparentSlideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out ;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: .75s;
}

.introduction-words a{
    display: inline-block;
}

.profile-image{
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.title{
    font-size: 60px;
    text-align: center;
}

.github{
    background: rgba(0,0,0,0);
    color: #5c80a4;
    margin-left: 90%;
}

.linkedin{
    background: rgba(0,0,0,0);
    color: #5c80a4;
    margin-left: 1%;
}

.language{
    margin-left: 25%;
    max-width: 50%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

.language-box{
    width: 40px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.03);
    border-radius: 8px;
    margin: 10px;
    background-color: rgba(105, 105, 105, 0.121);
    backdrop-filter: blur(1.3px);
}


.timeline{
    margin: 0 auto;
    margin-bottom: 10%;
    max-width: 750px;
    padding: 25px;
    display: grid;
    color: white;
    grid-template-columns: 1fr 3px 1fr;
}

.timeline_component{
    margin: 0 20px 20px 20px;
}

.timeline_component_bg{
    padding: 1.5em;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.timeline_date_right{
    text-align: right;
}

.timeline_middle{
    position: relative;
    background: white;
}

.timeline_point{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}

.timeline_point_bottom{
    top: initial;
    bottom: 0;
}

.timeline_title{
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

.timeline_paragraph{
    line-height: 1.5;
}

.projects{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 50px 100px;
}

.individual{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    font-size: 24px;
}

.used{
    display: flex;
    align-items: end;
    flex-direction: row;
    margin-top: 12px;
    font-size: 12px;
    justify-self: flex-start;
    width: 390px;
    padding-left: 10px;
}

.used a{
    margin: 8px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    padding: 4px 10px;
    color: white;
}

.project-image{
    border-radius: 10px;
    width: 400px;
}

.source-buttons{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
}

.github-button{
    font-size: 14px;
    padding: 10px 20px;
    margin: 6px;
    margin-bottom: 20px;
    background-color: #4b00b2;
    color: white;
    font-weight: bold;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}